@model PersonsVM

@{
    ViewData["Title"] = "PersonList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<h1>Person List</h1>

<br />

<p>
    <a href="CreatePerson" class="btn btn-primary">Create New Person</a>
</p>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
               ID
            </th>
            <th>
               First Name
            </th>
            <th>
               Last Name
            </th>
            <th>
                Telephone
            </th>
            <th>
                Email
            </th>
            <th>
                Company
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Persons item in Model.Persons)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    <button type="button" id="sil" class="btn btn-primary badge-pill" asp-route-id="#" onclick="location.href='@Url.Action("#",new {/* id=item.PrimaryKey */})'">Edit</button>
                    <button type="button" id="sil" class="btn btn-warning" asp-route-id="#" onclick="location.href='@Url.Action("#",new {/* id=item.PrimaryKey */})'">Details</button>                  
                    <button type="button" id="sil" class="btn btn-sm btn-danger" asp-route-id="#" onclick="location.href='@Url.Action("#",new {/* id=item.PrimaryKey */})'"> Delete</button>
                    
                </td>
            </tr>
        }

    </tbody>
</table>
